section.container {
    display: flex;
    position: relative;
    background-color: red;
}

div.item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: auto;
}